---
import Header from "../../components/header-categorias.astro"
import Footer from "../../components/footer1.astro"
import Jumb from "../../components/jumbotron.astro"

const info = [[
"Raspberry-Pi, Arduino y Herramientas de Desarrollo",
"Cuando se trata de computadoras de placa única y herramientas de desarrollo, dentro de nuestra gama encontrará las últimas tecnologías y productos de las mejores marcas, incluyendo Raspberry Pi y Arduino.",
"Raspberry-Pi,-Arduino-y-Herramientas-de-Desarrollo"],
[
{
"name": "Tienda Arduino",
"image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/4550365.jpg"
},
{
"name": "Tienda BBC micro:bit",
"image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/4550367.jpg"
},
{
"name": "Herramientas de Desarrollo y Computadoras de Placa Única",
"image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/4550368.jpg"
},
{
"name": "Prototipado",
"image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/4842997.jpg"
},
{
"name": "Tienda Raspberry Pi",
"image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/4550369.jpg"
},
{
"name": "Tienda ROCK SBC",
"image": "https://assets.rs-online.com/c_scale,w_200,f_auto,q_auto,d_no_image.png/73942397.jpg"
}
]
]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{info[0][0]}</title>
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
	</head>
	<body>
		<Header/>
        <Jumb title={info[0][0]} contenido={info[0][1]} categories={info[1]} />
		<Footer/>
	</body>
</html>