---
import Header from "../../components/header.astro"
import Footer from "../../components/footer1.astro"
import Jumb from "../../components/jumbotron.astro"

const info = [[
"Relés",
"Los relés están en stock y listos para enviar el mismo día desde RS. RS es un distribuidor autorizado de relés de fabricantes líderes como Phoenix Contact, IDEC Corporation, ABB, Schneider Electric y TE Connectivity. Las aplicaciones van desde el control de sistemas de tratamiento de aguas residuales hasta la interfaz con PLC. Compre nuestra extensa selección de relés de estado sólido, relés electromecánicos, relés industriales y relés de lámina.",
"Reles"],
[
{
"name": "Optoacopladores Industriales",
"image": "https://assets.rs-online.com/c_scale,w_200,f_auto,q_auto,d_no_image.png/70207957.jpg"
},
{
"name": "Relés de Monitoreo",
"image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/3886727.jpg"
},
{
"name": "Relés de Potencia",
"image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/3886728.jpg"
},
{
"name": "Relés de Lámina",
"image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/3886729.jpg"
},
{
"name": "Accesorios para Relés",
"image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/3882607.jpg"
},
{
"name": "Módulos de Relé",
"image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/3886730.jpg"
},
{
"name": "Relés de Señal",
"image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/3886731.jpg"
},
{
"name": "Relés de Estado Sólido",
"image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/3886732.jpg"
},
{
"name": "Relés de Retardo de Tiempo",
"image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/3886733.jpg"
}
]
]
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{info[0][0]}</title>
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
	</head>
	<body>
		<Header/>
        <Jumb title={info[0][0]} contenido={info[0][1]} categories={info[1]} />
		<Footer/>
	</body>
</html>